sudo add-apt-repository ppa:nilarimogard/webupd8
sudo apt update
sudo apt install i3blocks
sudo apt install gsimplecal
sudo apt install albert
sudo apt install classicmenu-indicator
sudo apt install pnmixer
sudo apt install gnome-alsamixer
sudo apt install nitrogen
