[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/brunolaporais/Desktop/dailyevents_treat.sql]
row=4
col=0

[/home/brunolaporais/Desktop/start_new_pyproject]
row=3
col=1

[/home/brunolaporais/Desktop/estimativa_vallourec.csv]
row=2
col=1

[/home/brunolaporais/Desktop/foxyproxy-settings.xml]
row=1
col=1

[/home/brunolaporais/Desktop/config.yml]
row=4
col=1

[/home/brunolaporais/Desktop/aws_keys]
row=5
col=0

[/home/brunolaporais/Desktop/RL Presentation]
row=5
col=1

[/home/brunolaporais/Desktop/sql_migrate.sql]
row=0
col=1

[/home/brunolaporais/Desktop/test_cognito]
row=3
col=0

[/home/brunolaporais/Desktop/crew_recovery_example.txt]
row=0
col=2

[/home/brunolaporais/Desktop/AWS Summit - São Paulo - Confirmação.pdf]
row=1
col=2

[/home/brunolaporais/Desktop/vallourec_diagnostico.txt]
row=2
col=2

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/brunolaporais]
row=2
col=0

